<div class="container-fluid mt-4" th:fragment="_footer">

  <footer class="bg-dark text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="https://cdn.icon-icons.com/icons2/660/PNG/512/guitar-pick_icon-icons.com_60082.png" height="70px" alt=""
                 loading="lazy" />
          </div>

<!--          <p class="text-center">Homless animal shelter The budgetary unit of the Capital City of Warsaw</p>-->


        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4" style="color: #D6B1FF">INFORMATION</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a th:href="@{/users/about}" class="text-white">About Us</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4" style="color: #D6B1FF">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt pe-2"></i>  UTN Mendoza, Mendoza, Argentina</p>
            </li>
            <li>
              <p><i class="fas fa-phone pe-2"></i>+54 261 5711981</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pe-2 mb-0"></i>  tiendaonline@emusic.com</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: E-Music
    </div>
  </footer>

</div>