<nav th:fragment="nav_bar" class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img class="mx-1" src="https://cdn.icon-icons.com/icons2/660/PNG/512/guitar-pick_icon-icons.com_60082.png" width="35" height="35" alt=""><b>E-Music</b></a>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emusic/users/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emusic/carts/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emusic/users/admin_menu">Admin Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emusic/instruments/add_instrument">Add Instrument</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" th:href="@{/start}">Jobs</a>-->
<!--          </li>-->
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Crud
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/emusic/instruments/crud">Instrument</a></li>
                <li><a class="dropdown-item" href="#!">User</a></li>
                <li><a class="dropdown-item" href="#!">Category</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <form class="d-flex " role="search" action="#!">
          <button class="btn mx-2" type="submit" style="background-color: #F1E4FF; color: #8C30F5; font-weight: 600 "><a th:href="@{/login}">Login</a></button>
          <a href="/emusic/users/register">
          <button class="btn " type="button"  style="background-color: #8C30F5; color: white; font-weight: 600">Sign up</button>
          </a>
        </form>
      </div>
    </div>
  </div>
</nav>