<nav th:fragment="nav_bar" class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/start}">
        <img class="mx-1" src="https://cdn.icon-icons.com/icons2/660/PNG/512/guitar-pick_icon-icons.com_60082.png" width="35" height="35" alt=""><b>E-Music</b></a>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#!">Jobs</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" th:href="@{/start}">Jobs</a>-->
<!--          </li>-->
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#!">Action</a></li>
                <li><a class="dropdown-item" href="#!">Another action</a></li>
                <li><a class="dropdown-item" href="#!">Something else here</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/crud}">Crud</a>
          </li>
        </ul>
        <form class="d-flex " role="search" action="#!">
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">-->
          <button class="btn mx-2" type="submit" style="background-color: #F1E4FF; color: #8C30F5; font-weight: 600 ">Login</button>
          <button class="btn " type="submit" style="background-color: #8C30F5; color: white; font-weight: 600">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</nav>