<th:block th:fragment="paginationLinks(pagination)" >
  <nav aria-label="Pagination" th:if="${instruments.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
      <li class="page-item" th:classappend="${instruments.number eq 0} ? 'disabled'">
        <a class="page-link svg-icon"
           th:href="@{/instruments/crud/instruments?page={id}(id=${instruments.number lt 2 ? 1 : customers.number})}"
           aria-label="Previous"
           title="Previous Page" rel="tooltip">
          <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
        </a>
      </li>
      <li class="page-item" th:classappend="${i eq instruments.number + 1} ? 'active'"
          th:each="i : ${#numbers.sequence( instruments.number + 1, instruments.totalPages > 10 + instruments.number ? instruments.number + 10 : instruments.totalPages, 1)}">
        <a class="page-link" th:href="@{/instruments/crud/instruments?page={id}(id=${i})}" th:text="${i}"
           th:title="${'Page '+ i}"
           rel="tooltip"></a>
      </li>
      <li class="page-item disabled" th:if="${instruments.number + 10 < instruments.totalPages}">
        <a class="page-link svg-icon" href="#">
          <span data-feather="more-horizontal" width="20" height="20"></span>
        </a>
      </li>
      <li class="page-item" th:classappend="${instruments.number + 1 eq instruments.totalPages} ? 'disabled'">
        <a class="page-link svg-icon" th:href="@{/instruments/crud/instruments?page={id}(id=${instruments.number + 2})}"
           aria-label="Next"
           title="Next Page" rel="tooltip">
          <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
        </a>
      </li>
    </ul>
  </nav>
</th:block>