<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Admin Menu</title>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center pt-1 mb-4 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                    </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>




                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>

                                <div class="text-center pt-1 mb-4 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg mb-3" type="button" style="background: #8C30F5; color: #F1E4FF"><b>Log in</b></button>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<nav th:replace="components/footer :: _footer"></nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>
</html>