<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e7cd538d8b.js" crossorigin="anonymous"></script>

  <title>Details</title>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>

<div class="container-fluid">
  <div class="d-flex align-items-center">
    <div class="col justify-content-center">
      <div>
        <img src="https://media.sweetwater.com/api/i/q-82__f-webp__ha-0c213be41070a7a5__hmac-d22a11bb1b105c001a5e4b5532991ae94f4cd0c5/images/guitars/PBassPPPWT/MX22186327/MX22186327-body-large.jpg.auto.webp" alt="" style="  border: 1px solid #F0F0F0;
  border-radius: 4px;
  padding: 5px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;">
      </div>
    </div>
    <div class="col py-5">

      <h1><b>Ibanez GSRM20</b></h1>
      <br>
      <p>Price: 199,9$</p>
      <hr>
      <p>Neck: GRSM 4, 28.60"</p>
      <p>Body: Agathis body</p>
      <p>Frets: Medium frets</p>
      <p>Fingerboard: Jatoba</p>
      <p>Inlay: Pearl dot</p>
      <p>Bridge: B10 bridge</p>
      <p>Neck pickup: PSNDP neck pickup</p>
      <p>Middle pickup: PSNDJ bridge pickup</p>
      <p>Hardware color: Chrome</p>
      <p>Case sold separately</p>

      <hr>
      <button class="btn mx-2" type="submit" style="background-color: #8C30F5; color: #FFFFFF; font-weight: 600 ">Add to cart</button>

    </div>
  </div>
</div>


<nav th:replace="components/footer :: _footer"></nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>
</html>