<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Start</title>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>


<div id="carouselExampleControls" class="carousel slide container-fluid" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/89909/pexels-photo-89909.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/164743/pexels-photo-164743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/942305/pexels-photo-942305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
</div>

<div class="container-fluid d-flex flex-row text-center">
        <div class="my-2 mw-100 mh-100" style="height: 250px; width: 250px;">
            <button type="button" class="btn btn-light mw-100 mh-100" style="height: 250px; width: 250px;">Guitar
            </button>
        </div>
        <div class="my-2 mw-100 mh-100" style="height: 250px; width: 250px;">
            <button type="button" class="btn btn-light mw-100 mh-100" style="height: 250px; width: 250px;">Bass
            </button>

        </div>
        <div class="my-2 mw-100 mh-100" style="height: 250px; width: 250px;">
            <button type="button" class="btn btn-light mw-100 mh-100" style="height: 250px; width: 250px;">Bass
            </button>

        </div>
        <div class="my-2 mw-100 mh-100" style="height: 250px; width: 250px;">
            <button type="button" class="btn btn-light mw-100 mh-100" style="height: 250px; width: 250px;">Drum
            </button>

        </div>
        <div class="my-2 mw-100 mh-100" style="height: 250px; width: 250px;">
            <button type="button" class="btn btn-light mw-100 mh-100" style="height: 250px; width: 250px;">Flute
            </button>

        </div>
        <div class="my-2 mw-100 mh-100" style="height: 250px; width: 250px;">
            <button type="button" class="btn btn-light mw-100 mh-100" style="height: 250px; width: 250px;">Guitar
            </button>
        </div>
    </div>

<nav th:replace="components/footer :: _footer"></nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>
</html>